<a href="https://colab.research.google.com/github/chantalwuer/earthquake_damage/blob/table_merge/notebooks/CW_Merging_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating new DataFrames out of Raw Data

## Import Packages and Data

In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from earthquake_damage.data.main import reduce_memory_df

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Google Colab

In [24]:
# %%script echo skipping

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
# %%script echo skipping

i_demographics = pd.read_csv('/content/drive/MyDrive/Modeling_Earthquakes/raw_data/individual/csv_individual_demographics.csv')
mapping = pd.read_csv('/content/drive/MyDrive/Modeling_Earthquakes/raw_data/geographical/mapping.csv')

### VS Code

In [ ]:
train_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_values.csv')
train_labels = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_labels.csv')
test_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/test_values.csv')

In [ ]:
b_structure = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_structure.csv')
b_damage_assessment = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_damage_assessment.csv', low_memory=False)
b_owner_use = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_ownership_and_use.csv')

In [ ]:
h_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/csv_household_demographics.csv')
mapping = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/mapping.csv')
i_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/individual/csv_individual_demographics.csv')

# Building

### Building Structure

In [ ]:
b_structure.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'count_floors_post_eq', 'age_building',
       'plinth_area_sq_ft', 'height_ft_pre_eq', 'height_ft_post_eq',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'condition_post_eq', 'damage_grade', 'technical_solution_proposed'],
      dtype='object')

In [ ]:
b_str_keep = ['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'age_building',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other', 'damage_grade']

In [ ]:
drop = []
for i in b_structure.columns:
    if i not in b_str_keep:
        drop.append(i)
        
drop

['count_floors_post_eq',
 'plinth_area_sq_ft',
 'height_ft_pre_eq',
 'height_ft_post_eq',
 'condition_post_eq',
 'technical_solution_proposed']

In [ ]:
b_structure = b_structure.drop(drop, axis=1)

### Building Damage Assessment --> NOT NEEDED

In [ ]:
b_damage_assessment.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'damage_overall_collapse', 'damage_overall_leaning',
       'damage_overall_adjacent_building_risk', 'damage_foundation_severe',
       'damage_foundation_moderate', 'damage_foundation_insignificant',
       'damage_roof_severe', 'damage_roof_moderate',
       'damage_roof_insignificant', 'damage_corner_separation_severe',
       'damage_corner_separation_moderate',
       'damage_corner_separation_insignificant',
       'damage_diagonal_cracking_severe', 'damage_diagonal_cracking_moderate',
       'damage_diagonal_cracking_insignificant',
       'damage_in_plane_failure_severe', 'damage_in_plane_failure_moderate',
       'damage_in_plane_failure_insignificant',
       'damage_out_of_plane_failure_severe',
       'damage_out_of_plane_failure_moderate',
       'damage_out_of_plane_failure_insignificant',
       'damage_out_of_plane_failure_walls_ncfr_severe',
       'damage_out_of_plane_failure_walls_ncfr_moderate',
       'damage_out_of_plane_failure_walls_ncfr_insignificant',
       'damage_gable_failure_severe', 'damage_gable_failure_moderate',
       'damage_gable_failure_insignificant',
       'damage_delamination_failure_severe',
       'damage_delamination_failure_moderate',
       'damage_delamination_failure_insignificant',
       'damage_column_failure_severe', 'damage_column_failure_moderate',
       'damage_column_failure_insignificant', 'damage_beam_failure_severe',
       'damage_beam_failure_moderate', 'damage_beam_failure_insignificant',
       'damage_infill_partition_failure_severe',
       'damage_infill_partition_failure_moderate',
       'damage_infill_partition_failure_insignificant',
       'damage_staircase_severe', 'damage_staircase_moderate',
       'damage_staircase_insignificant', 'damage_parapet_severe',
       'damage_parapet_moderate', 'damage_parapet_insignificant',
       'damage_cladding_glazing_severe', 'damage_cladding_glazing_moderate',
       'damage_cladding_glazing_insignificant', 'area_assesed', 'damage_grade',
       'technical_solution_proposed', 'has_repair_started',
       'has_damage_foundation', 'has_damage_roof',
       'has_damage_corner_separation', 'has_damage_diagonal_cracking',
       'has_damage_in_plane_failure', 'has_damage_out_of_plane_failure',
       'has_damage_out_of_plane_walls_ncfr_failure',
       'has_damage_gable_failure', 'has_damage_delamination_failure',
       'has_damage_column_failure', 'has_damage_beam_failure',
       'has_damage_infill_partition_failure', 'has_damage_staircase',
       'has_damage_parapet', 'has_damage_cladding_glazing',
       'has_geotechnical_risk', 'has_geotechnical_risk_land_settlement',
       'has_geotechnical_risk_fault_crack',
       'has_geotechnical_risk_liquefaction', 'has_geotechnical_risk_landslide',
       'has_geotechnical_risk_rock_fall', 'has_geotechnical_risk_flood',
       'has_geotechnical_risk_other'],
      dtype='object')

In [ ]:
b_dam_keep = ['building_id',
        'damage_grade']

In [ ]:
b_dam_drop = []
for i in b_damage_assessment.columns:
    if i not in b_dam_keep:
        b_dam_drop.append(i)
        
b_dam_drop

['district_id',
 'vdcmun_id',
 'ward_id',
 'damage_overall_collapse',
 'damage_overall_leaning',
 'damage_overall_adjacent_building_risk',
 'damage_foundation_severe',
 'damage_foundation_moderate',
 'damage_foundation_insignificant',
 'damage_roof_severe',
 'damage_roof_moderate',
 'damage_roof_insignificant',
 'damage_corner_separation_severe',
 'damage_corner_separation_moderate',
 'damage_corner_separation_insignificant',
 'damage_diagonal_cracking_severe',
 'damage_diagonal_cracking_moderate',
 'damage_diagonal_cracking_insignificant',
 'damage_in_plane_failure_severe',
 'damage_in_plane_failure_moderate',
 'damage_in_plane_failure_insignificant',
 'damage_out_of_plane_failure_severe',
 'damage_out_of_plane_failure_moderate',
 'damage_out_of_plane_failure_insignificant',
 'damage_out_of_plane_failure_walls_ncfr_severe',
 'damage_out_of_plane_failure_walls_ncfr_moderate',
 'damage_out_of_plane_failure_walls_ncfr_insignificant',
 'damage_gable_failure_severe',
 'damage_gable_failure_moderate',
 'damage_gable_failure_insignificant',
 'damage_delamination_failure_severe',
 'damage_delamination_failure_moderate',
 'damage_delamination_failure_insignificant',
 'damage_column_failure_severe',
 'damage_column_failure_moderate',
 'damage_column_failure_insignificant',
 'damage_beam_failure_severe',
 'damage_beam_failure_moderate',
 'damage_beam_failure_insignificant',
 'damage_infill_partition_failure_severe',
 'damage_infill_partition_failure_moderate',
 'damage_infill_partition_failure_insignificant',
 'damage_staircase_severe',
 'damage_staircase_moderate',
 'damage_staircase_insignificant',
 'damage_parapet_severe',
 'damage_parapet_moderate',
 'damage_parapet_insignificant',
 'damage_cladding_glazing_severe',
 'damage_cladding_glazing_moderate',
 'damage_cladding_glazing_insignificant',
 'area_assesed',
 'technical_solution_proposed',
 'has_repair_started',
 'has_damage_foundation',
 'has_damage_roof',
 'has_damage_corner_separation',
 'has_damage_diagonal_cracking',
 'has_damage_in_plane_failure',
 'has_damage_out_of_plane_failure',
 'has_damage_out_of_plane_walls_ncfr_failure',
 'has_damage_gable_failure',
 'has_damage_delamination_failure',
 'has_damage_column_failure',
 'has_damage_beam_failure',
 'has_damage_infill_partition_failure',
 'has_damage_staircase',
 'has_damage_parapet',
 'has_damage_cladding_glazing',
 'has_geotechnical_risk',
 'has_geotechnical_risk_land_settlement',
 'has_geotechnical_risk_fault_crack',
 'has_geotechnical_risk_liquefaction',
 'has_geotechnical_risk_landslide',
 'has_geotechnical_risk_rock_fall',
 'has_geotechnical_risk_flood',
 'has_geotechnical_risk_other']

In [ ]:
b_damage_assessment = b_damage_assessment.drop(b_dam_drop, axis=1)

### Building Ownership and Use

In [ ]:
b_owner_use.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

Here we are keeping all columns

In [ ]:
b_owner_keep = ['building_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']

In [ ]:
b_owner_drop = []
for i in b_owner_use.columns:
    if i not in b_owner_keep:
        b_owner_drop.append(i)
        
b_owner_drop

['district_id', 'vdcmun_id', 'ward_id']

In [ ]:
b_owner_use = b_owner_use.drop(b_owner_drop, axis=1)

## Creating (Raw)Competition Dataset

In [ ]:
merged = pd.merge(b_structure, b_owner_use, on='building_id', how='inner')
merged.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [ ]:
merged.isna().sum()

building_id                                0
district_id                                0
vdcmun_id                                  0
ward_id                                    0
count_floors_pre_eq                        0
age_building                               0
land_surface_condition                     0
foundation_type                            0
roof_type                                  0
ground_floor_type                          0
other_floor_type                           0
position                                   1
plan_configuration                         1
has_superstructure_adobe_mud               0
has_superstructure_mud_mortar_stone        0
has_superstructure_stone_flag              0
has_superstructure_cement_mortar_stone     0
has_superstructure_mud_mortar_brick        0
has_superstructure_cement_mortar_brick     0
has_superstructure_timber                  0
has_superstructure_bamboo                  0
has_superstructure_rc_non_engineered       0
has_superstructure_rc_engineered           0
has_superstructure_other                   0
damage_grade                              12
legal_ownership_status                     0
count_families                             2
has_secondary_use                         10
has_secondary_use_agriculture              0
has_secondary_use_hotel                    0
has_secondary_use_rental                   0
has_secondary_use_institution              0
has_secondary_use_school                   0
has_secondary_use_industry                 0
has_secondary_use_health_post              0
has_secondary_use_gov_office               0
has_secondary_use_use_police               0
has_secondary_use_other                    0
dtype: int64

In [ ]:
merged.dtypes

building_id                                 int64
district_id                                 int64
vdcmun_id                                   int64
ward_id                                     int64
count_floors_pre_eq                         int64
age_building                                int64
land_surface_condition                     object
foundation_type                            object
roof_type                                  object
ground_floor_type                          object
other_floor_type                           object
position                                   object
plan_configuration                         object
has_superstructure_adobe_mud                int64
has_superstructure_mud_mortar_stone         int64
has_superstructure_stone_flag               int64
has_superstructure_cement_mortar_stone      int64
has_superstructure_mud_mortar_brick         int64
has_superstructure_cement_mortar_brick      int64
has_superstructure_timber                   int64
has_superstructure_bamboo                   int64
has_superstructure_rc_non_engineered        int64
has_superstructure_rc_engineered            int64
has_superstructure_other                    int64
damage_grade                               object
legal_ownership_status                     object
count_families                            float64
has_secondary_use                         float64
has_secondary_use_agriculture               int64
has_secondary_use_hotel                     int64
has_secondary_use_rental                    int64
has_secondary_use_institution               int64
has_secondary_use_school                    int64
has_secondary_use_industry                  int64
has_secondary_use_health_post               int64
has_secondary_use_gov_office                int64
has_secondary_use_use_police                int64
has_secondary_use_other                     int64
dtype: object

In [ ]:
merged.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/merged_table.csv', index=False)

# Household

In [ ]:
merged_df = merged.copy()

## h_demographics

#### Drop Columns and Examine

In [ ]:
h_dem_drop = ['district_id', 'ward_id', 'vdcmun_id', 'is_bank_account_present_in_household', 'caste_household']

In [ ]:
h_demographics.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [ ]:
h_demographics.dtypes

household_id                              int64
district_id                               int64
vdcmun_id                                 int64
ward_id                                   int64
gender_household_head                    object
age_household_head                      float64
caste_household                          object
education_level_household_head           object
income_level_household                   object
size_household                          float64
is_bank_account_present_in_household    float64
dtype: object

In [ ]:
h_demographics.gender_household_head.value_counts()

Male      507924
Female    239439
Name: gender_household_head, dtype: int64

#### Casts (discard for now)

In [ ]:
h_demographics.caste_household.unique()

array(['Rai', 'Gharti/Bhujel', 'Brahman-Hill', 'Sanyasi/Dashnami',
       'Chhetree', 'Tamang', nan, 'Kami', 'Newar', 'Gurung', 'Magar',
       '0thers', 'Sarki', 'Damai/Dholi', 'Sherpa', 'Majhi', 'Pahari',
       'Sunuwar', 'Tharu', 'Rajbansi', 'Sonar', 'Jirel', 'Raute',
       'Badhaee', 'Brahman-Tarai', 'Jhangad/Dhagar', 'Khatwe', 'Khawas',
       'Lohar', 'Bin', 'Yadav', 'Koiri/Kushwaha', 'Danuwar', 'Limbu',
       'Sudhi', 'Kurmi', 'Nuniya', 'Dusadh/Pasawan/Pasi', 'Dom', 'Teli',
       'Musalman', 'Thakuri', 'Ghale', 'Darai', 'Bhote', 'Hayu', 'Thami',
       'Haluwai', 'Kayastha', 'Kamar', 'Kalwar', 'Kewat', 'Musahar',
       'Kumal', 'Chamar/Harijan/Ram', 'Mallaha', 'Rajput', 'Hajam/Thakur',
       'Amat', 'Kori', 'Badi', 'Bantar/Sardar', 'Dhobi', 'Chamling',
       'Kumhar', 'Kalar', 'Dhimal', 'Meche', 'Mali', 'Dhanuk', 'Kanu',
       'Marwadi', 'Hyolmo', 'Lhopa', 'Chepang/Praja', 'Gaderi/Bhedhar',
       'Koche', 'Brahmu/Baramo', 'Satar/Santhal', 'Kathbaniyan',
       'Tatma/Tatwa', 'Thakali', 'Dev', 'Bahing', 'Gaine', 'Bangali',
       'Pattharkatta/Kushwadiya', 'Baraee', 'Samgpang', 'Natuwa', 'Bote',
       'Lepcha', 'Mewahang Bala', 'Kahar', 'Yakkha', 'Byasi/Sauka',
       'Kusunda'], dtype=object)

In [ ]:
casts = h_demographics.groupby('caste_household')['caste_household'].count()
casts.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/caste_household.csv')

#### Income Level Household

In [ ]:
h_demographics.income_level_household.value_counts()

Rs. 10 thousand            409102
Rs. 10-20 thousand         231688
Rs. 20-30 thousand          76124
Rs. 30-50 thousand          21943
Rs. 50 thousand or more      8280
Name: income_level_household, dtype: int64

In [ ]:
h_demographics.income_level_household.unique()

array(['Rs. 10 thousand', 'Rs. 10-20 thousand', 'Rs. 20-30 thousand',
       'Rs. 30-50 thousand', nan, 'Rs. 50 thousand or more'], dtype=object)

In [ ]:
# h_demographics.income_level_household = h_demographics.income_level_household.replace({
#     'Rs. 10 thousand': 0, 'Rs. 10-20 thousand': 1, 
#     'Rs. 20-30 thousand': 2, 'Rs. 30-50 thousand': 3, 
#     'Rs. 50 thousand or more': 4})

#### Education Level

In [ ]:
h_demographics.education_level_household_head.value_counts()

Illiterate                    263157
Non-formal education          157724
Class 5                        45267
SLC or equivalent              42988
Intermediate or equivalent     29181
Class 4                        27836
Class 8                        27520
Class 3                        26217
Class 10                       24097
Class 2                        22331
Class 7                        21460
Class 6                        17099
Class 9                        12184
Bachelors or equivalent        10925
Class 1                         9996
Masters or equivalent           4507
Other                           2838
Nursery/K.G./Kindergarten       1741
Ph.D. or equivalent               69
Name: education_level_household_head, dtype: int64

In [ ]:
h_demographics.education_level_household_head.unique()

array(['Illiterate', 'Class 5', 'Class 4', 'SLC or equivalent',
       'Class 10', 'Class 9', 'Non-formal education',
       'Intermediate or equivalent', 'Class 7', 'Class 2', 'Class 1',
       'Class 8', 'Class 3', 'Class 6', nan, 'Bachelors or equivalent',
       'Other', 'Masters or equivalent', 'Nursery/K.G./Kindergarten',
       'Ph.D. or equivalent'], dtype=object)

In [ ]:
in_education = ['Class 5', 'Class 4',
        'Class 10', 'Class 9', 
        'Class 7', 'Class 2', 'Class 1',
        'Class 8', 'Class 3', 'Class 6', 'Nursery/K.G./Kindergarten'
       ]

university = ['Bachelors or equivalent', 'Masters or equivalent', 'Ph.D. or equivalent']

h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'In education' if x in in_education else x)
h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'University' if x in university else x)
h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'High School' if x == 'SLC or equivalent' else x)

In [ ]:
h_demographics.education_level_household_head.unique()

array(['Illiterate', 'In education', 'High School',
       'Non-formal education', 'Intermediate or equivalent', nan,
       'University', 'Other'], dtype=object)

### Create Final h_demopgrahics

In [ ]:
h_demographics = h_demographics.drop(h_dem_drop, axis=1)

h_demographics.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/household_demographics_cleaned.csv', index=False)

In [ ]:
h_demographics.head()

,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,12010100005101,Male,70.0,Illiterate,0.0,8.0

In [ ]:
h_demographics.groupby('education_level_household_head')[['income_level_household']].mean()

                                income_level_household
education_level_household_head
High School                                   1.027519
Illiterate                                    0.422018
In education                                  0.713300
Intermediate or equivalent                    1.164422
Non-formal education                          0.631020
Other                                         0.585624
University                                    1.569576

### Test refine_demograhics

In [ ]:
from earthquake_damage.data.merge_dataset import refine_demographics
refine_demographics(h_demographics)

Adapting income level...
Adapting education level...
Saving the file to csv...
 File saved to /Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/h_demographics.csv

### Merge based on mapping.csv

In [ ]:
mapping = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/mapping.csv')
merged = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/merge_structure_owner.csv')

# Individual

### Merge i_demographics with mapping for ids

In [ ]:
mapping.head()

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041

In [49]:
i_demographics_ids = i_demographics.merge(mapping, on='individual_id', how='left')

In [50]:
i_demographics_ids = i_demographics_ids.drop(columns=['district_id', 'vdcmun_id', 'ward_id', 'has_registered_birth'], axis=1)

In [51]:
i_demographics_ids.head()

,individual_id,gender_individual,age_individual,presence_in_household,disability_individual,education_level_individual,marital_status_individual,household_id,building_id
0,12010100001101001,Male,31,Mostly Present,No,Illiterate,Married,12010100001101,120101000011
1,12010100001101002,Female,58,Mostly Present,No,Illiterate,Married,12010100001101,120101000011
2,12010100001101003,Male,15,Mostly Present,No,Class 7,Not Married,12010100001101,120101000011
3,12010100002101001,Female,62,Mostly Present,No,Illiterate,Widow/Widower,12010100002101,120101000021
4,12010100002101002,Male,23,Not present-Abroad,No,Class 6,Married,12010100002101,120101000021

In [39]:
# Google Colab
i_demographics_ids.to_csv('/content/drive/MyDrive/Modeling_Earthquakes/processed_data/i_demographics_ids.csv', index=False)

OSError: Cannot save file into a non-existent directory: '/content/drive/MyDrive/Modeling_Earthquakes/processed_data'

### Reclassify object type columns

In [ ]:
i_demographics_ids.select_dtypes(include=['object']).columns

Index(['gender_individual', 'presence_in_household', 'disability_individual',
       'education_level_individual', 'marital_status_individual'],
      dtype='object')

#### Gender

In [ ]:
i_demographics_ids.gender_individual.value_counts()

Male           1856904
Female         1820224
Transgender          5
Name: gender_individual, dtype: int64

In [ ]:
i_demographics_ids.gender_individual = i_demographics_ids.gender_individual.map({'Male': 0, 'Female': 1, 'Transgender': 2})

In [ ]:
i_demographics_ids.gender_individual.value_counts()

0    1856904
1    1820224
2          5
Name: gender_individual, dtype: int64

#### Presence in household

In [ ]:
i_demographics_ids.presence_in_household.value_counts()

Mostly Present              2891862
Not present-Same Country     588261
Not present-Abroad           193797
Not Known                      3213
Name: presence_in_household, dtype: int64

In [ ]:
i_demographics_ids.presence_in_household = i_demographics_ids.presence_in_household.map({
    'Mostly Present': 0, 
    'Not present-Same Country': 1, 
    'Not present-Abroad': 2, 
    'Not Known': 3})

In [ ]:
i_demographics_ids.presence_in_household.value_counts()

0    2891862
1     588261
2     193797
3       3213
Name: presence_in_household, dtype: int64

#### disability_individual

In [ ]:
i_demographics_ids.disability_individual.value_counts()

No                 3631909
Yes/No card          26015
Yes/Blue card         5540
Yes/Red card          5360
Yes/White card        4341
Yes/Yellow card       3768
Name: disability_individual, dtype: int64

In [ ]:
i_demographics_ids.disability_individual.unique()

array(['No', 'Yes/No card', 'Yes/White card', 'Yes/Yellow card',
       'Yes/Red card', 'Yes/Blue card', nan], dtype=object)

In [ ]:
i_demographics_ids.disability_individual = i_demographics_ids.disability_individual.apply(lambda x: 0 if x == 'No' else 1)

In [ ]:
i_demographics_ids.disability_individual.unique()

array([0, 1])

#### education_level_individual

In [ ]:
i_demographics_ids.education_level_individual.value_counts()

Illiterate                       696927
Non-formal education             364847
SLC or equivalent                274724
Intermediate or equivalent       235329
Class 5                          231859
Class 8                          183562
Class 4                          176796
Class 3                          162598
Class 7                          161036
Class 6                          150545
Class 2                          147247
Class 10                         141681
Class 1                          122614
Nursery/K.G./Kindergarten        112975
Class 9                          104437
Bachelor degree or equivalent     68922
Master degree or equivalent       18611
Other                              8957
Ph.D. level or equivalent           381
Name: education_level_individual, dtype: int64

In [53]:
# Education
in_education = ['Class 5', 'Class 4',
        'Class 10', 'Class 9',
        'Class 7', 'Class 2', 'Class 1',
        'Class 8', 'Class 3', 'Class 6', 'Nursery/K.G./Kindergarten'
       ]

university = ['Bachelors or equivalent',
                  'Masters or equivalent',
                  'Ph.D. or equivalent']

i_demographics_ids.education_level_individual = i_demographics_ids.education_level_individual.\
        map(lambda x: 'In education' if x in in_education else x)
i_demographics_ids.education_level_individual = i_demographics_ids.education_level_individual.\
        map(lambda x: 'University' if x in university else x)
i_demographics_ids.education_level_individual = i_demographics_ids.education_level_individual.\
        map(lambda x: 'High School' if x == 'SLC or equivalent' else x)

In [54]:
i_demographics_ids.education_level_individual.value_counts()

In education                     1695350
Illiterate                        696927
Non-formal education              364847
High School                       274724
Intermediate or equivalent        235329
Bachelor degree or equivalent      68922
Master degree or equivalent        18611
Other                               8957
Ph.D. level or equivalent            381
Name: education_level_individual, dtype: int64

#### marital_status_individual

In [ ]:
i_demographics_ids.marital_status_individual.value_counts()

Married          1803157
Not Married      1055361
Widow/Widower     153226
Seperated          19351
Divorced            4337
Name: marital_status_individual, dtype: int64

In [ ]:
i_demographics_ids.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/i_demographics_ids.csv', index=False)

# Building & Household

In [80]:
comp_data_full = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/comp_data_full.csv')
h_demographics_ids = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/h_demographics_ids.csv')

In [83]:
comp_data_full.head(1)

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [84]:
comp_data_full.shape

(762106, 38)

In [85]:
h_demographics_ids.head(1)

,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household,building_id
0,12010100001101,Male,31.0,Illiterate,0.0,3.0,120101000011

In [86]:
h_demographics_ids.shape

(747137, 7)

In [87]:
h_demographics_ids.household_id.nunique()

747137

In [88]:
comp_data_household = comp_data_full.merge(h_demographics_ids, on='building_id', how='inner')

In [89]:
comp_data_household.shape

(747137, 44)

In [17]:
comp_house = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/comp_data_household.csv')

In [27]:
new_df = reduce_memory_df(comp_house)

Original memory usage of df is 56 MB
New memory usage of df is 56 MB

# For G Colab

In [28]:
i_demographics_ids = pd.read_csv('/content/drive/MyDrive/Modeling_Earthquakes/processed_data/i_demographics_ids.csv')

In [31]:
i_demographics_ids_small = i_demographics_ids[:1000]

In [32]:
grouped_mode = i_demographics_ids_small.groupby(['building_id']).agg(pd.Series.mode)

In [33]:
grouped_mode.head()

,gender_individual,presence_in_household,disability_individual,education_level_individual,marital_status_individual,household_id
building_id,,,,,,
120101000011,0,0,0,Illiterate,Married,12010100001101
120101000021,1,0,0,In education,Married,12010100002101
120101000031,0,"[0, 1]",0,In education,Married,12010100003101
120101000041,0,1,0,Illiterate,"[Married, Not Married]",12010100004101
120101000051,0,"[0, 1]",0,In education,Married,12010100005101

In [61]:
grouped_age = i_demographics_ids.groupby('household_id')[['age_individual']].mean()
grouped_age

In [64]:
grouped_age.shape

grouped_age.to_csv('/content/drive/MyDrive/Modeling_Earthquakes/processed_data/average_household_age.csv')

In [63]:
grouped_age.shape

(747137, 1)

In [ ]:
grouped_all = i_demographics_ids.groupby('building_id').mean()

In [ ]:
grouped_all.head()

,individual_id,age_individual,has_registered_birth,household_id
building_id,,,,
120101000011,1.201010e+16,34.666667,NaN,1.201010e+13
120101000021,1.201010e+16,22.333333,0.5,1.201010e+13
120101000031,1.201010e+16,26.461538,1.0,1.201010e+13
120101000041,1.201010e+16,22.200000,0.0,1.201010e+13
120101000051,1.201010e+16,28.000000,0.0,1.201010e+13