# Merging Tables onto Train Data

## Import Packages and Data

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
train_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_values.csv')
train_labels = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_labels.csv')
test_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/test_values.csv')

In [5]:
b_structure = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_structure.csv')
b_damage_assessment = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_damage_assessment.csv', low_memory=False)
b_owner_use = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_ownership_and_use.csv')

In [6]:
h_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/csv_household_demographics.csv')

## Drop Unrelated Info from DataFrames

### Building Structure

In [85]:
b_structure.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'count_floors_post_eq', 'age_building',
       'plinth_area_sq_ft', 'height_ft_pre_eq', 'height_ft_post_eq',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'condition_post_eq', 'damage_grade', 'technical_solution_proposed'],
      dtype='object')

In [86]:
b_str_keep = ['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'age_building',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other', 'damage_grade']

In [87]:
drop = []
for i in b_structure.columns:
    if i not in b_str_keep:
        drop.append(i)
        
drop

['count_floors_post_eq',
 'plinth_area_sq_ft',
 'height_ft_pre_eq',
 'height_ft_post_eq',
 'condition_post_eq',
 'technical_solution_proposed']

In [88]:
b_structure = b_structure.drop(drop, axis=1)

### Building Damage Assessment --> NOT NEEDED

In [89]:
b_damage_assessment.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'damage_overall_collapse', 'damage_overall_leaning',
       'damage_overall_adjacent_building_risk', 'damage_foundation_severe',
       'damage_foundation_moderate', 'damage_foundation_insignificant',
       'damage_roof_severe', 'damage_roof_moderate',
       'damage_roof_insignificant', 'damage_corner_separation_severe',
       'damage_corner_separation_moderate',
       'damage_corner_separation_insignificant',
       'damage_diagonal_cracking_severe', 'damage_diagonal_cracking_moderate',
       'damage_diagonal_cracking_insignificant',
       'damage_in_plane_failure_severe', 'damage_in_plane_failure_moderate',
       'damage_in_plane_failure_insignificant',
       'damage_out_of_plane_failure_severe',
       'damage_out_of_plane_failure_moderate',
       'damage_out_of_plane_failure_insignificant',
       'damage_out_of_plane_failure_walls_ncfr_severe',
       'damage_out_of_plane_failure_walls_ncfr_moderate',
       'damage_out_of_plane_failure_walls_ncfr_insignificant',
       'damage_gable_failure_severe', 'damage_gable_failure_moderate',
       'damage_gable_failure_insignificant',
       'damage_delamination_failure_severe',
       'damage_delamination_failure_moderate',
       'damage_delamination_failure_insignificant',
       'damage_column_failure_severe', 'damage_column_failure_moderate',
       'damage_column_failure_insignificant', 'damage_beam_failure_severe',
       'damage_beam_failure_moderate', 'damage_beam_failure_insignificant',
       'damage_infill_partition_failure_severe',
       'damage_infill_partition_failure_moderate',
       'damage_infill_partition_failure_insignificant',
       'damage_staircase_severe', 'damage_staircase_moderate',
       'damage_staircase_insignificant', 'damage_parapet_severe',
       'damage_parapet_moderate', 'damage_parapet_insignificant',
       'damage_cladding_glazing_severe', 'damage_cladding_glazing_moderate',
       'damage_cladding_glazing_insignificant', 'area_assesed', 'damage_grade',
       'technical_solution_proposed', 'has_repair_started',
       'has_damage_foundation', 'has_damage_roof',
       'has_damage_corner_separation', 'has_damage_diagonal_cracking',
       'has_damage_in_plane_failure', 'has_damage_out_of_plane_failure',
       'has_damage_out_of_plane_walls_ncfr_failure',
       'has_damage_gable_failure', 'has_damage_delamination_failure',
       'has_damage_column_failure', 'has_damage_beam_failure',
       'has_damage_infill_partition_failure', 'has_damage_staircase',
       'has_damage_parapet', 'has_damage_cladding_glazing',
       'has_geotechnical_risk', 'has_geotechnical_risk_land_settlement',
       'has_geotechnical_risk_fault_crack',
       'has_geotechnical_risk_liquefaction', 'has_geotechnical_risk_landslide',
       'has_geotechnical_risk_rock_fall', 'has_geotechnical_risk_flood',
       'has_geotechnical_risk_other'],
      dtype='object')

In [90]:
b_dam_keep = ['building_id',
        'damage_grade']

In [91]:
b_dam_drop = []
for i in b_damage_assessment.columns:
    if i not in b_dam_keep:
        b_dam_drop.append(i)
        
b_dam_drop

['district_id',
 'vdcmun_id',
 'ward_id',
 'damage_overall_collapse',
 'damage_overall_leaning',
 'damage_overall_adjacent_building_risk',
 'damage_foundation_severe',
 'damage_foundation_moderate',
 'damage_foundation_insignificant',
 'damage_roof_severe',
 'damage_roof_moderate',
 'damage_roof_insignificant',
 'damage_corner_separation_severe',
 'damage_corner_separation_moderate',
 'damage_corner_separation_insignificant',
 'damage_diagonal_cracking_severe',
 'damage_diagonal_cracking_moderate',
 'damage_diagonal_cracking_insignificant',
 'damage_in_plane_failure_severe',
 'damage_in_plane_failure_moderate',
 'damage_in_plane_failure_insignificant',
 'damage_out_of_plane_failure_severe',
 'damage_out_of_plane_failure_moderate',
 'damage_out_of_plane_failure_insignificant',
 'damage_out_of_plane_failure_walls_ncfr_severe',
 'damage_out_of_plane_failure_walls_ncfr_moderate',
 'damage_out_of_plane_failure_walls_ncfr_insignificant',
 'damage_gable_failure_severe',
 'damage_gable_failure_moderate',
 'damage_gable_failure_insignificant',
 'damage_delamination_failure_severe',
 'damage_delamination_failure_moderate',
 'damage_delamination_failure_insignificant',
 'damage_column_failure_severe',
 'damage_column_failure_moderate',
 'damage_column_failure_insignificant',
 'damage_beam_failure_severe',
 'damage_beam_failure_moderate',
 'damage_beam_failure_insignificant',
 'damage_infill_partition_failure_severe',
 'damage_infill_partition_failure_moderate',
 'damage_infill_partition_failure_insignificant',
 'damage_staircase_severe',
 'damage_staircase_moderate',
 'damage_staircase_insignificant',
 'damage_parapet_severe',
 'damage_parapet_moderate',
 'damage_parapet_insignificant',
 'damage_cladding_glazing_severe',
 'damage_cladding_glazing_moderate',
 'damage_cladding_glazing_insignificant',
 'area_assesed',
 'technical_solution_proposed',
 'has_repair_started',
 'has_damage_foundation',
 'has_damage_roof',
 'has_damage_corner_separation',
 'has_damage_diagonal_cracking',
 'has_damage_in_plane_failure',
 'has_damage_out_of_plane_failure',
 'has_damage_out_of_plane_walls_ncfr_failure',
 'has_damage_gable_failure',
 'has_damage_delamination_failure',
 'has_damage_column_failure',
 'has_damage_beam_failure',
 'has_damage_infill_partition_failure',
 'has_damage_staircase',
 'has_damage_parapet',
 'has_damage_cladding_glazing',
 'has_geotechnical_risk',
 'has_geotechnical_risk_land_settlement',
 'has_geotechnical_risk_fault_crack',
 'has_geotechnical_risk_liquefaction',
 'has_geotechnical_risk_landslide',
 'has_geotechnical_risk_rock_fall',
 'has_geotechnical_risk_flood',
 'has_geotechnical_risk_other']

In [92]:
b_damage_assessment = b_damage_assessment.drop(b_dam_drop, axis=1)

### Building Ownership and Use

In [93]:
b_owner_use.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

Here we are keeping all columns

In [94]:
b_owner_keep = ['building_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']

In [95]:
b_owner_drop = []
for i in b_owner_use.columns:
    if i not in b_owner_keep:
        b_owner_drop.append(i)
        
b_owner_drop

['district_id', 'vdcmun_id', 'ward_id']

In [96]:
b_owner_use = b_owner_use.drop(b_owner_drop, axis=1)

## Merging Tables

In [97]:
merged = pd.merge(b_structure, b_owner_use, on='building_id', how='inner')
merged.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [98]:
merged.isna().sum()

building_id                                0
district_id                                0
vdcmun_id                                  0
ward_id                                    0
count_floors_pre_eq                        0
age_building                               0
land_surface_condition                     0
foundation_type                            0
roof_type                                  0
ground_floor_type                          0
other_floor_type                           0
position                                   1
plan_configuration                         1
has_superstructure_adobe_mud               0
has_superstructure_mud_mortar_stone        0
has_superstructure_stone_flag              0
has_superstructure_cement_mortar_stone     0
has_superstructure_mud_mortar_brick        0
has_superstructure_cement_mortar_brick     0
has_superstructure_timber                  0
has_superstructure_bamboo                  0
has_superstructure_rc_non_engineered       0
has_superstructure_rc_engineered           0
has_superstructure_other                   0
damage_grade                              12
legal_ownership_status                     0
count_families                             2
has_secondary_use                         10
has_secondary_use_agriculture              0
has_secondary_use_hotel                    0
has_secondary_use_rental                   0
has_secondary_use_institution              0
has_secondary_use_school                   0
has_secondary_use_industry                 0
has_secondary_use_health_post              0
has_secondary_use_gov_office               0
has_secondary_use_use_police               0
has_secondary_use_other                    0
dtype: int64

In [99]:
merged.dtypes

building_id                                 int64
district_id                                 int64
vdcmun_id                                   int64
ward_id                                     int64
count_floors_pre_eq                         int64
age_building                                int64
land_surface_condition                     object
foundation_type                            object
roof_type                                  object
ground_floor_type                          object
other_floor_type                           object
position                                   object
plan_configuration                         object
has_superstructure_adobe_mud                int64
has_superstructure_mud_mortar_stone         int64
has_superstructure_stone_flag               int64
has_superstructure_cement_mortar_stone      int64
has_superstructure_mud_mortar_brick         int64
has_superstructure_cement_mortar_brick      int64
has_superstructure_timber                   int64
has_superstructure_bamboo                   int64
has_superstructure_rc_non_engineered        int64
has_superstructure_rc_engineered            int64
has_superstructure_other                    int64
damage_grade                               object
legal_ownership_status                     object
count_families                            float64
has_secondary_use                         float64
has_secondary_use_agriculture               int64
has_secondary_use_hotel                     int64
has_secondary_use_rental                    int64
has_secondary_use_institution               int64
has_secondary_use_school                    int64
has_secondary_use_industry                  int64
has_secondary_use_health_post               int64
has_secondary_use_gov_office                int64
has_secondary_use_use_police                int64
has_secondary_use_other                     int64
dtype: object

In [100]:
merged.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/merged_table.csv', index=False)

### Test Train Test Split

In [101]:
from earthquake_damage.data.main import train_test_val

X_train, X_test, X_val, y_train, y_test, y_val = train_test_val(merged)

## Merge additional information

In [102]:
merged_df = merged.copy()

### Household Demographics

In [135]:
h_dem_drop = ['district_id', 'ward_id', 'vdcmun_id', 'is_bank_account_present_in_household', 'caste_household']

In [136]:
h_demographics.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [137]:
h_demographics.dtypes

household_id                              int64
district_id                               int64
vdcmun_id                                 int64
ward_id                                   int64
gender_household_head                    object
age_household_head                      float64
caste_household                          object
education_level_household_head           object
income_level_household                   object
size_household                          float64
is_bank_account_present_in_household    float64
dtype: object

In [138]:
h_demographics.gender_household_head.value_counts()

Male      507924
Female    239439
Name: gender_household_head, dtype: int64

#### Casts (discard for now)

In [139]:
h_demographics.caste_household.unique()

array(['Rai', 'Gharti/Bhujel', 'Brahman-Hill', 'Sanyasi/Dashnami',
       'Chhetree', 'Tamang', nan, 'Kami', 'Newar', 'Gurung', 'Magar',
       '0thers', 'Sarki', 'Damai/Dholi', 'Sherpa', 'Majhi', 'Pahari',
       'Sunuwar', 'Tharu', 'Rajbansi', 'Sonar', 'Jirel', 'Raute',
       'Badhaee', 'Brahman-Tarai', 'Jhangad/Dhagar', 'Khatwe', 'Khawas',
       'Lohar', 'Bin', 'Yadav', 'Koiri/Kushwaha', 'Danuwar', 'Limbu',
       'Sudhi', 'Kurmi', 'Nuniya', 'Dusadh/Pasawan/Pasi', 'Dom', 'Teli',
       'Musalman', 'Thakuri', 'Ghale', 'Darai', 'Bhote', 'Hayu', 'Thami',
       'Haluwai', 'Kayastha', 'Kamar', 'Kalwar', 'Kewat', 'Musahar',
       'Kumal', 'Chamar/Harijan/Ram', 'Mallaha', 'Rajput', 'Hajam/Thakur',
       'Amat', 'Kori', 'Badi', 'Bantar/Sardar', 'Dhobi', 'Chamling',
       'Kumhar', 'Kalar', 'Dhimal', 'Meche', 'Mali', 'Dhanuk', 'Kanu',
       'Marwadi', 'Hyolmo', 'Lhopa', 'Chepang/Praja', 'Gaderi/Bhedhar',
       'Koche', 'Brahmu/Baramo', 'Satar/Santhal', 'Kathbaniyan',
       'Tatma/Tatwa', 'Thakali', 'Dev', 'Bahing', 'Gaine', 'Bangali',
       'Pattharkatta/Kushwadiya', 'Baraee', 'Samgpang', 'Natuwa', 'Bote',
       'Lepcha', 'Mewahang Bala', 'Kahar', 'Yakkha', 'Byasi/Sauka',
       'Kusunda'], dtype=object)

In [140]:
casts = h_demographics.groupby('caste_household')['caste_household'].count()
casts.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/caste_household.csv')

#### Income Level Household

In [141]:
h_demographics.income_level_household.value_counts()

Rs. 10 thousand            409102
Rs. 10-20 thousand         231688
Rs. 20-30 thousand          76124
Rs. 30-50 thousand          21943
Rs. 50 thousand or more      8280
Name: income_level_household, dtype: int64

In [142]:
h_demographics.income_level_household.unique()

array(['Rs. 10 thousand', 'Rs. 10-20 thousand', 'Rs. 20-30 thousand',
       'Rs. 30-50 thousand', nan, 'Rs. 50 thousand or more'], dtype=object)

In [143]:
h_demographics.income_level_household = h_demographics.income_level_household.replace({
    'Rs. 10 thousand': 0, 'Rs. 10-20 thousand': 1, 
    'Rs. 20-30 thousand': 2, 'Rs. 30-50 thousand': 3, 
    'Rs. 50 thousand or more': 4})

#### Education Level

In [144]:
h_demographics.education_level_household_head.value_counts()

Illiterate                    263157
Non-formal education          157724
Class 5                        45267
SLC or equivalent              42988
Intermediate or equivalent     29181
Class 4                        27836
Class 8                        27520
Class 3                        26217
Class 10                       24097
Class 2                        22331
Class 7                        21460
Class 6                        17099
Class 9                        12184
Bachelors or equivalent        10925
Class 1                         9996
Masters or equivalent           4507
Other                           2838
Nursery/K.G./Kindergarten       1741
Ph.D. or equivalent               69
Name: education_level_household_head, dtype: int64

In [145]:
h_demographics.education_level_household_head.unique()

array(['Illiterate', 'Class 5', 'Class 4', 'SLC or equivalent',
       'Class 10', 'Class 9', 'Non-formal education',
       'Intermediate or equivalent', 'Class 7', 'Class 2', 'Class 1',
       'Class 8', 'Class 3', 'Class 6', nan, 'Bachelors or equivalent',
       'Other', 'Masters or equivalent', 'Nursery/K.G./Kindergarten',
       'Ph.D. or equivalent'], dtype=object)

In [146]:
in_education = ['Class 5', 'Class 4',
        'Class 10', 'Class 9', 
        'Class 7', 'Class 2', 'Class 1',
        'Class 8', 'Class 3', 'Class 6', 'Nursery/K.G./Kindergarten'
       ]

university = ['Bachelors or equivalent', 'Masters or equivalent', 'Ph.D. or equivalent']

h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'In education' if x in in_education else x)
h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'University' if x in university else x)
h_demographics.education_level_household_head = h_demographics.education_level_household_head.map(lambda x: 'High School' if x == 'SLC or equivalent' else x)

In [147]:
h_demographics.education_level_household_head.unique()

array(['Illiterate', 'In education', 'High School',
       'Non-formal education', 'Intermediate or equivalent', nan,
       'University', 'Other'], dtype=object)

### Create Final Household Dem File

In [148]:
h_demographics = h_demographics.drop(h_dem_drop, axis=1)

h_demographics.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/household_demographics_cleaned.csv', index=False)

In [117]:
h_demographics.head()

,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,12010100005101,Male,70.0,Illiterate,0.0,8.0

In [129]:
h_demographics.groupby('education_level_household_head')[['income_level_household']].mean()

                                income_level_household
education_level_household_head
High School                                   1.027519
Illiterate                                    0.422018
In education                                  0.713300
Intermediate or equivalent                    1.164422
Non-formal education                          0.631020
Other                                         0.585624
University                                    1.569576

### Test refine demograhics

In [6]:
from earthquake_damage.data.merge_dataset import refine_demographics
refine_demographics(h_demographics)

Adapting income level...
Adapting education level...
Saving the file to csv...
✅ File saved to /Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/h_demographics.csv

### Merge based on mapping.csv

In [9]:
mapping = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/mapping.csv')
merged = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/merge_structure_owner.csv')

In [17]:
mapping.head()

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041

In [35]:
mapping.isna().sum()

individual_id    0
household_id     0
building_id      0
dtype: int64

In [10]:
mapping.household_id.nunique()

747137

In [41]:
merged.building_id.nunique()

762106

In [36]:
merged.shape

(762106, 38)

In [38]:
merged.dtypes

building_id                                 int64
district_id                                 int64
vdcmun_id                                   int64
ward_id                                     int64
count_floors_pre_eq                         int64
age_building                                int64
land_surface_condition                     object
foundation_type                            object
roof_type                                  object
ground_floor_type                          object
other_floor_type                           object
position                                   object
plan_configuration                         object
has_superstructure_adobe_mud                int64
has_superstructure_mud_mortar_stone         int64
has_superstructure_stone_flag               int64
has_superstructure_cement_mortar_stone      int64
has_superstructure_mud_mortar_brick         int64
has_superstructure_cement_mortar_brick      int64
has_superstructure_timber                   int64
has_superstructure_bamboo                   int64
has_superstructure_rc_non_engineered        int64
has_superstructure_rc_engineered            int64
has_superstructure_other                    int64
damage_grade                               object
legal_ownership_status                     object
count_families                            float64
has_secondary_use                         float64
has_secondary_use_agriculture               int64
has_secondary_use_hotel                     int64
has_secondary_use_rental                    int64
has_secondary_use_institution               int64
has_secondary_use_school                    int64
has_secondary_use_industry                  int64
has_secondary_use_health_post               int64
has_secondary_use_gov_office                int64
has_secondary_use_use_police                int64
has_secondary_use_other                     int64
dtype: object

In [29]:
mapping_s = mapping[:100]
merged_s = merged[:100]

In [42]:
mapping_s.head()

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041

In [43]:
merged_s.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [2]:
# merged_with_ids = pd.merge(merged, mapping, on='building_id', how='left')
# merged_with_ids

# Test PreProcessor

In [10]:
merged = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/merge_structure_owner.csv')

In [8]:
from earthquake_damage.ml_logic.preprocessor import preprocess_features, preprocess_targets,cus_imputation

# cus_imputation(merged)
cus_imputation(filename='merge_structure_owner')

preprocess_features()
preprocess_targets()

Imputation...

✅ X_imputed, with shape (762106, 38)
✅ df_imputed saved to /Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/df_imputed.csv

Preprocess features...

✅ X_processed, with shape (762106, 66)
✅ X_processed saved to /Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/X_processed.csv

Preprocess target...

✅ y processed, with shape (762106,)
✅ y_processed saved to /Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/y_processed.csv

In [15]:
from earthquake_damage.data.main import train_test_val

X_train, X_test, X_val, y_train, y_test, y_val = train_test_val()

## Check out contents of dataframes

In [8]:
train_data_columns = ['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']

In [10]:
household_columns = ['household_id',
                    'gender_household_head', 'age_household_head', 'caste_household',
                    'education_level_household_head', 'income_level_household',
                    'size_household']

columns_to_drop = ['district_id', 'vdcmun_id', 'ward_id', 'is_bank_account_present_in_household']

In [13]:
household_dem_s = household_dem.drop(columns_to_drop, axis=1)
household_dem.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [7]:
h_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/h_demographics.csv')

In [8]:
h_demographics.shape

(747365, 6)

# Grouping Individual Info per Building

In [11]:
i_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/individual/csv_individual_demographics.csv')

### Merge building id onto i_demographics

In [17]:
mapping.head()

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041

In [18]:
i_demographics_ids = i_demographics.merge(mapping, on='individual_id', how='left')

In [19]:
i_demographics_ids.head()

,individual_id,district_id,vdcmun_id,ward_id,gender_individual,age_individual,presence_in_household,disability_individual,has_registered_birth,education_level_individual,marital_status_individual,household_id,building_id
0,12010100001101001,12,1207,120703,Male,31,Mostly Present,No,NaN,Illiterate,Married,12010100001101,120101000011
1,12010100001101002,12,1207,120703,Female,58,Mostly Present,No,NaN,Illiterate,Married,12010100001101,120101000011
2,12010100001101003,12,1207,120703,Male,15,Mostly Present,No,NaN,Class 7,Not Married,12010100001101,120101000011
3,12010100002101001,12,1207,120703,Female,62,Mostly Present,No,NaN,Illiterate,Widow/Widower,12010100002101,120101000021
4,12010100002101002,12,1207,120703,Male,23,Not present-Abroad,No,NaN,Class 6,Married,12010100002101,120101000021

In [22]:
i_demographics_ids.groupby('building_id')[['age_individual']].mean()

KeyboardInterrupt: