# Merging Tables onto Train Data

## Import Packages and Data

In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [37]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
train_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_values.csv')
train_labels = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/train_labels.csv')
test_values = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/challenge_data/test_values.csv')

In [31]:
h_demographics = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/household/csv_household_demographics.csv')
b_structure = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_structure.csv')
b_damage_assessment = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_damage_assessment.csv', low_memory=False)
b_owner_use = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/building/csv_building_ownership_and_use.csv')

## Drop Unrelated Info from DataFrames

### Building Structure

In [6]:
b_structure.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'count_floors_post_eq', 'age_building',
       'plinth_area_sq_ft', 'height_ft_pre_eq', 'height_ft_post_eq',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'condition_post_eq', 'damage_grade', 'technical_solution_proposed'],
      dtype='object')

In [7]:
b_str_keep = ['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'count_floors_pre_eq', 'age_building',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other', 'damage_grade']

In [8]:
drop = []
for i in b_structure.columns:
    if i not in b_str_keep:
        drop.append(i)
        
drop

['count_floors_post_eq',
 'plinth_area_sq_ft',
 'height_ft_pre_eq',
 'height_ft_post_eq',
 'condition_post_eq',
 'technical_solution_proposed']

In [9]:
b_structure = b_structure.drop(drop, axis=1)

### Building Damage Assessment --> NOT NEEDED

In [10]:
b_damage_assessment.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'damage_overall_collapse', 'damage_overall_leaning',
       'damage_overall_adjacent_building_risk', 'damage_foundation_severe',
       'damage_foundation_moderate', 'damage_foundation_insignificant',
       'damage_roof_severe', 'damage_roof_moderate',
       'damage_roof_insignificant', 'damage_corner_separation_severe',
       'damage_corner_separation_moderate',
       'damage_corner_separation_insignificant',
       'damage_diagonal_cracking_severe', 'damage_diagonal_cracking_moderate',
       'damage_diagonal_cracking_insignificant',
       'damage_in_plane_failure_severe', 'damage_in_plane_failure_moderate',
       'damage_in_plane_failure_insignificant',
       'damage_out_of_plane_failure_severe',
       'damage_out_of_plane_failure_moderate',
       'damage_out_of_plane_failure_insignificant',
       'damage_out_of_plane_failure_walls_ncfr_severe',
       'damage_out_of_plane_failure_walls_ncfr_moderate',
       'damage_out_of_plane_failure_walls_ncfr_insignificant',
       'damage_gable_failure_severe', 'damage_gable_failure_moderate',
       'damage_gable_failure_insignificant',
       'damage_delamination_failure_severe',
       'damage_delamination_failure_moderate',
       'damage_delamination_failure_insignificant',
       'damage_column_failure_severe', 'damage_column_failure_moderate',
       'damage_column_failure_insignificant', 'damage_beam_failure_severe',
       'damage_beam_failure_moderate', 'damage_beam_failure_insignificant',
       'damage_infill_partition_failure_severe',
       'damage_infill_partition_failure_moderate',
       'damage_infill_partition_failure_insignificant',
       'damage_staircase_severe', 'damage_staircase_moderate',
       'damage_staircase_insignificant', 'damage_parapet_severe',
       'damage_parapet_moderate', 'damage_parapet_insignificant',
       'damage_cladding_glazing_severe', 'damage_cladding_glazing_moderate',
       'damage_cladding_glazing_insignificant', 'area_assesed', 'damage_grade',
       'technical_solution_proposed', 'has_repair_started',
       'has_damage_foundation', 'has_damage_roof',
       'has_damage_corner_separation', 'has_damage_diagonal_cracking',
       'has_damage_in_plane_failure', 'has_damage_out_of_plane_failure',
       'has_damage_out_of_plane_walls_ncfr_failure',
       'has_damage_gable_failure', 'has_damage_delamination_failure',
       'has_damage_column_failure', 'has_damage_beam_failure',
       'has_damage_infill_partition_failure', 'has_damage_staircase',
       'has_damage_parapet', 'has_damage_cladding_glazing',
       'has_geotechnical_risk', 'has_geotechnical_risk_land_settlement',
       'has_geotechnical_risk_fault_crack',
       'has_geotechnical_risk_liquefaction', 'has_geotechnical_risk_landslide',
       'has_geotechnical_risk_rock_fall', 'has_geotechnical_risk_flood',
       'has_geotechnical_risk_other'],
      dtype='object')

In [11]:
b_dam_keep = ['building_id',
        'damage_grade']

In [12]:
b_dam_drop = []
for i in b_damage_assessment.columns:
    if i not in b_dam_keep:
        b_dam_drop.append(i)
        
b_dam_drop

['district_id',
 'vdcmun_id',
 'ward_id',
 'damage_overall_collapse',
 'damage_overall_leaning',
 'damage_overall_adjacent_building_risk',
 'damage_foundation_severe',
 'damage_foundation_moderate',
 'damage_foundation_insignificant',
 'damage_roof_severe',
 'damage_roof_moderate',
 'damage_roof_insignificant',
 'damage_corner_separation_severe',
 'damage_corner_separation_moderate',
 'damage_corner_separation_insignificant',
 'damage_diagonal_cracking_severe',
 'damage_diagonal_cracking_moderate',
 'damage_diagonal_cracking_insignificant',
 'damage_in_plane_failure_severe',
 'damage_in_plane_failure_moderate',
 'damage_in_plane_failure_insignificant',
 'damage_out_of_plane_failure_severe',
 'damage_out_of_plane_failure_moderate',
 'damage_out_of_plane_failure_insignificant',
 'damage_out_of_plane_failure_walls_ncfr_severe',
 'damage_out_of_plane_failure_walls_ncfr_moderate',
 'damage_out_of_plane_failure_walls_ncfr_insignificant',
 'damage_gable_failure_severe',
 'damage_gable_failure_moderate',
 'damage_gable_failure_insignificant',
 'damage_delamination_failure_severe',
 'damage_delamination_failure_moderate',
 'damage_delamination_failure_insignificant',
 'damage_column_failure_severe',
 'damage_column_failure_moderate',
 'damage_column_failure_insignificant',
 'damage_beam_failure_severe',
 'damage_beam_failure_moderate',
 'damage_beam_failure_insignificant',
 'damage_infill_partition_failure_severe',
 'damage_infill_partition_failure_moderate',
 'damage_infill_partition_failure_insignificant',
 'damage_staircase_severe',
 'damage_staircase_moderate',
 'damage_staircase_insignificant',
 'damage_parapet_severe',
 'damage_parapet_moderate',
 'damage_parapet_insignificant',
 'damage_cladding_glazing_severe',
 'damage_cladding_glazing_moderate',
 'damage_cladding_glazing_insignificant',
 'area_assesed',
 'technical_solution_proposed',
 'has_repair_started',
 'has_damage_foundation',
 'has_damage_roof',
 'has_damage_corner_separation',
 'has_damage_diagonal_cracking',
 'has_damage_in_plane_failure',
 'has_damage_out_of_plane_failure',
 'has_damage_out_of_plane_walls_ncfr_failure',
 'has_damage_gable_failure',
 'has_damage_delamination_failure',
 'has_damage_column_failure',
 'has_damage_beam_failure',
 'has_damage_infill_partition_failure',
 'has_damage_staircase',
 'has_damage_parapet',
 'has_damage_cladding_glazing',
 'has_geotechnical_risk',
 'has_geotechnical_risk_land_settlement',
 'has_geotechnical_risk_fault_crack',
 'has_geotechnical_risk_liquefaction',
 'has_geotechnical_risk_landslide',
 'has_geotechnical_risk_rock_fall',
 'has_geotechnical_risk_flood',
 'has_geotechnical_risk_other']

In [13]:
b_damage_assessment = b_damage_assessment.drop(b_dam_drop, axis=1)

### Building Ownership and Use

In [14]:
b_owner_use.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

Here we are keeping all columns

In [15]:
b_owner_keep = ['building_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']

In [16]:
b_owner_drop = []
for i in b_owner_use.columns:
    if i not in b_owner_keep:
        b_owner_drop.append(i)
        
b_owner_drop

['district_id', 'vdcmun_id', 'ward_id']

In [17]:
b_owner_use = b_owner_use.drop(b_owner_drop, axis=1)

## Merging Tables

In [18]:
merged = pd.merge(b_structure, b_owner_use, on='building_id', how='inner')
merged.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,...,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,...,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,...,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,...,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,...,0,0,0,0,0,0,0,0,0,0

In [19]:
merged.isna().sum()

building_id                                0
district_id                                0
vdcmun_id                                  0
ward_id                                    0
count_floors_pre_eq                        0
age_building                               0
land_surface_condition                     0
foundation_type                            0
roof_type                                  0
ground_floor_type                          0
other_floor_type                           0
position                                   1
plan_configuration                         1
has_superstructure_adobe_mud               0
has_superstructure_mud_mortar_stone        0
has_superstructure_stone_flag              0
has_superstructure_cement_mortar_stone     0
has_superstructure_mud_mortar_brick        0
has_superstructure_cement_mortar_brick     0
has_superstructure_timber                  0
has_superstructure_bamboo                  0
has_superstructure_rc_non_engineered       0
has_superstructure_rc_engineered           0
has_superstructure_other                   0
damage_grade                              12
legal_ownership_status                     0
count_families                             2
has_secondary_use                         10
has_secondary_use_agriculture              0
has_secondary_use_hotel                    0
has_secondary_use_rental                   0
has_secondary_use_institution              0
has_secondary_use_school                   0
has_secondary_use_industry                 0
has_secondary_use_health_post              0
has_secondary_use_gov_office               0
has_secondary_use_use_police               0
has_secondary_use_other                    0
dtype: int64

In [21]:
merged.dtypes

building_id                                 int64
district_id                                 int64
vdcmun_id                                   int64
ward_id                                     int64
count_floors_pre_eq                         int64
age_building                                int64
land_surface_condition                     object
foundation_type                            object
roof_type                                  object
ground_floor_type                          object
other_floor_type                           object
position                                   object
plan_configuration                         object
has_superstructure_adobe_mud                int64
has_superstructure_mud_mortar_stone         int64
has_superstructure_stone_flag               int64
has_superstructure_cement_mortar_stone      int64
has_superstructure_mud_mortar_brick         int64
has_superstructure_cement_mortar_brick      int64
has_superstructure_timber                   int64
has_superstructure_bamboo                   int64
has_superstructure_rc_non_engineered        int64
has_superstructure_rc_engineered            int64
has_superstructure_other                    int64
damage_grade                               object
legal_ownership_status                     object
count_families                            float64
has_secondary_use                         float64
has_secondary_use_agriculture               int64
has_secondary_use_hotel                     int64
has_secondary_use_rental                    int64
has_secondary_use_institution               int64
has_secondary_use_school                    int64
has_secondary_use_industry                  int64
has_secondary_use_health_post               int64
has_secondary_use_gov_office                int64
has_secondary_use_use_police                int64
has_secondary_use_other                     int64
dtype: object

In [54]:
merged.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/merged_table.csv', index=False)

### Test Train Test Split

In [28]:
from earthquake_damage.data.main import train_test_val

X_train, X_test, X_val, y_train, y_test, y_val = train_test_val(merged)

,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
124544,21,2104,210401,2,25,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,TImber/Bamboo-Mud,...,0,0,0,0,0,0,0,0,0,0
759557,36,3601,360103,2,14,Moderate slope,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,...,0,0,0,0,0,0,0,0,0,0
122313,21,2107,210702,2,25,Moderate slope,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,...,0,0,0,0,0,0,0,0,0,0
444469,28,2803,280301,1,70,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Not applicable,...,0,0,0,0,0,0,0,0,0,0
597497,31,3111,311106,2,2,Moderate slope,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,...,0,0,0,0,0,0,0,0,0,0

## Merge additional information

In [24]:
merged_df = merged.copy()

### Add average information per ward

In [32]:
h_demographics.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [33]:
h_demographics.dtypes

household_id                              int64
district_id                               int64
vdcmun_id                                 int64
ward_id                                   int64
gender_household_head                    object
age_household_head                      float64
caste_household                          object
education_level_household_head           object
income_level_household                   object
size_household                          float64
is_bank_account_present_in_household    float64
dtype: object

In [34]:
h_demographics.gender_household_head.value_counts()

Male      507924
Female    239439
Name: gender_household_head, dtype: int64

In [38]:
h_demographics.caste_household.value_counts()

Tamang                     209075
Chhetree                   128391
Brahman-Hill               109725
Newar                       68600
Magar                       45320
Kami                        25700
Gurung                      25452
Sarki                       21546
Damai/Dholi                 15433
Rai                         11073
Sherpa                       9872
Thami                        7342
Majhi                        7297
Chepang/Praja                7279
Sunuwar                      7228
Danuwar                      6668
Gharti/Bhujel                5634
Ghale                        5434
Sanyasi/Dashnami             4948
Thakuri                      4244
Kumal                        4186
0thers                       3329
Pahari                       1780
Jirel                        1762
Musalman                     1159
Hyolmo                       1046
Bhote                         982
Brahmu/Baramo                 970
Sonar                         713
Kamar                         565
Brahman-Tarai                 528
Hayu                          469
Musahar                       462
Darai                         446
Tharu                         261
Baraee                        188
Sudhi                         186
Yadav                         178
Jhangad/Dhagar                146
Kalwar                        143
Teli                          122
Limbu                         102
Khawas                         89
Lohar                          78
Kumhar                         76
Hajam/Thakur                   76
Dom                            74
Badi                           74
Koiri/Kushwaha                 56
Kayastha                       50
Kanu                           50
Gaine                          45
Marwadi                        41
Haluwai                        40
Mallaha                        36
Badhaee                        34
Kurmi                          27
Rajbansi                       26
Kathbaniyan                    25
Dhanuk                         24
Rajput                         24
Bote                           23
Chamar/Harijan/Ram             19
Nuniya                         18
Bangali                        15
Dhobi                          15
Gaderi/Bhedhar                 12
Raute                          12
Kewat                          11
Amat                            8
Bin                             8
Thakali                         8
Dusadh/Pasawan/Pasi             7
Tatma/Tatwa                     5
Lhopa                           5
Kori                            4
Kusunda                         3
Dhimal                          3
Bahing                          3
Mali                            3
Samgpang                        3
Khatwe                          3
Lepcha                          3
Satar/Santhal                   2
Meche                           2
Kalar                           2
Chamling                        2
Mewahang Bala                   1
Byasi/Sauka                     1
Yakkha                          1
Kahar                           1
Koche                           1
Natuwa                          1
Bantar/Sardar                   1
Dev                             1
Pattharkatta/Kushwadiya         1
Name: caste_household, dtype: int64

In [39]:
h_demographics.income_level_household.value_counts()

Rs. 10 thousand            409102
Rs. 10-20 thousand         231688
Rs. 20-30 thousand          76124
Rs. 30-50 thousand          21943
Rs. 50 thousand or more      8280
Name: income_level_household, dtype: int64

In [40]:
h_demographics.education_level_household_head.value_counts()

Illiterate                    263157
Non-formal education          157724
Class 5                        45267
SLC or equivalent              42988
Intermediate or equivalent     29181
Class 4                        27836
Class 8                        27520
Class 3                        26217
Class 10                       24097
Class 2                        22331
Class 7                        21460
Class 6                        17099
Class 9                        12184
Bachelors or equivalent        10925
Class 1                         9996
Masters or equivalent           4507
Other                           2838
Nursery/K.G./Kindergarten       1741
Ph.D. or equivalent               69
Name: education_level_household_head, dtype: int64

In [49]:
h_demographics.ward_id .nunique()

945

In [50]:
h_demographics.district_id.unique()

array([12, 21, 20, 22, 23, 24, 28, 29, 30, 31, 36])

In [51]:
h_demographics.vdcmun_id.unique()

array([1207, 2107, 1205, 1208, 1206, 1202, 1203, 1201, 1204, 2002, 2001,
       2009, 2003, 2005, 2004, 2008, 2006, 2007, 2108, 2102, 2103, 2105,
       2104, 2101, 2106, 2203, 2206, 2207, 2202, 2209, 2208, 2204, 2201,
       2205, 2309, 2306, 2310, 2311, 2307, 2302, 2304, 2313, 2301, 2303,
       2305, 2312, 2411, 2410, 2412, 2408, 2407, 2401, 2403, 2404, 2413,
       2402, 2406, 2409, 2405, 2811, 2803, 2808, 2801, 2809, 2805, 2802,
       2813, 2804, 2807, 2810, 2812, 2902, 2903, 2904, 2901, 2905, 3013,
       3004, 3005, 3001, 3012, 3006, 3002, 3007, 3009, 3003, 3008, 3011,
       3010, 3104, 3111, 3107, 3101, 3103, 3106, 3102, 3105, 3108, 3110,
       3609, 3601, 3604, 3610, 3607, 3605, 3611, 3608, 3602, 3606, 3603])

## Check out contents of dataframes

In [8]:
train_data_columns = ['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']

In [10]:
household_columns = ['household_id',
                    'gender_household_head', 'age_household_head', 'caste_household',
                    'education_level_household_head', 'income_level_household',
                    'size_household']

columns_to_drop = ['district_id', 'vdcmun_id', 'ward_id', 'is_bank_account_present_in_household']

In [13]:
household_dem_s = household_dem.drop(columns_to_drop, axis=1)
household_dem.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [21]:
train_values.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')